.productHighlightWrapper--collection {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 300px;
  font-size: 10px;
}

.productHighlightText {
  background: #f4762d;
  color: #fff;	
  /*border-radius: 20px;*/
  padding: 5px 10px;
}
