/*GENERAL*/
.flexRowContent {
  margin: 0;
  padding: 0;
}

/*CONTACT*/
.flexRowContent--contact {
  max-width: 700px;
  margin: auto;
}

.flexRowContent--contact :global(.vtex-input__label),
.flexRowContent--contact :global(.vtex-textarea__label) {
  font-size: 1rem;
  color: #3f3f40;
}

.flexRowContent--contact :global(.vtex-input),
.flexRowContent--contact :global(.vtex-textarea) {
  display: block;
  margin-bottom: 1rem;
}

/*FAQ*/
.flexRowContent--faq {
  max-width: 60%;
  margin: auto;
}

/*product-specification-table*/
.flexRow--productSpecificationGroup:not(:first-child) {
  margin-top: 1.5rem;
}

.flexRow--productSpecificationGroupName {
  background-color: #eaeaea;
  padding: 0.5rem 1rem;
}

/* .flexCol--productSpecificationName {
 margin-right: -1rem;
} */

.flexColChild--productSpecificationName{
  display: flex;
  align-items: center;
}

.flexRowContent--productSpecificationGroup, .flexRow--productSpecification, .flexRowContent--productSpecification{
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.flexRowContent--productSpecification .stretchChildrenWidth{
  width: auto !important;
  padding: 0;
}

.flexRow--productSpecification:nth-child(even) {
  background-color: #f9f9f9;
}

/*SEARCH*/
.flexRow--orderByAndSwitcher {
  padding-right: 1.5em;
}

.flexRowContent--savingsSummaryListDesktop {
  justify-content: flex-start;
}

.flexCol--summaryRightListDesktop {
  justify-content: space-around;
}

.flexRow--buyNowButton :global(.vtex-button) {
  background: #eef3f7;
  border-color:#eef3f7;
  color: #000;
}

/* .flexRow--buyNowButton:hover :global(.vtex-button) {
  background: #dbe9fd;
  border-color:#dbe9fd;
} */

/* .flexCol--productRating {
  margin-bottom: 3rem;
} */

.flexCol--summaryDetailsListMobile {
  justify-content: space-between;
}

.flexRow--summaryUpDetailsListMobile {
  margin-bottom: 0.25rem
}

.flexColChild--summaryLeftListDesktop :global(.vtex-product-summary-2-x-imageContainer) {
  text-align: unset;
}

.flexRowContent--summaryDownDetailsListMobile {
  display: flex;
}

.flexRowContent--summaryDownDetailsListMobile .stretchChildrenWidth:last-child {
  margin-left: 5px;
}

/*DEFAULT*/

.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

/* .flexRowContent--main-header {
  
} */


.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

/*PLP*/
.flexCol--search-main-content{
  margin-left: 15px;
}

.flexColChild--productCountCol{
  display: flex;
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
  padding-left: 15px;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

/*end of PLP*/


.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

/*FOOTER*/
/* .flexRowContent--footer-menu-row :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
} */

.flexRow--main-footer-desk :global(.vtex-store-components-3-x-container){
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: none;
}

.flexRow--main-footer-desk{
  background: #f5f2eb;  
  padding-bottom: 120px;
}

.flexRowContent--main-footer-desk{
  height: 100%;
  padding: 30px 15px;
}

.flexRowContent--footer-social-network-logo{
  margin-top: 15px;
  align-items: center;
}
.flexColChild--col-right-footer :global(.vtex-store-components-3-x-inputGroup){
  padding: 0;
}

.flexColChild--col-right-footer :global(.vtex-store-components-3-x-inputGroup) :global(.vtex-input-prefix__group){
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}

.flexColChild--col-right-footer :global(.vtex-store-components-3-x-buttonContainer) :global(.vtex-button){
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}

.flexColChild--col-right-footer :global(.vtex-store-components-3-x-buttonContainer){
  padding: 0;
}

:global(.vtex-store-components-3-x-newsletter) :global(.vtex-store-components-3-x-container){
  padding: 0px;
}

.flexRow--footer-main-content-mobile :global(.vtex-store-components-3-x-container){
  padding: 0;
}

.flexRowContent--footer-container-newsletter-mobile {
  padding: 15px 15px 30px;
   border-bottom: 4px solid #000;
}

.flexRowContent--footer-container-newsletter-mobile :global(.vtex-store-components-3-x-container){
  padding: 0;
}

.flexRowContent--footer-container-newsletter-mobile :global(.vtex-store-components-3-x-inputGroup){
  display: flex;
  align-items: center;
  padding: 0;
}

.flexRowContent--footer-container-newsletter-mobile :global(.vtex-input-prefix__group){
  height: 44px;
  border-radius: unset;
}

.flexRowContent--footer-container-newsletter-mobile :global(.vtex-store-components-3-x-form){
  padding: 0;
}

.flexRowContent--footer-social-network-logo{
  display: flex;
}

/*header*/

.flexColChild--container-login-header :global(.vtex-login-2-x-container) :global(.vtex-button__label){
  padding: 0;
}

.flexRow--espacio-gris {
  height: 40px;
  background: #f5f2eb;
}

.flexColChild--container-header-gral{
  justify-content: center;
    display: flex;
    align-items: center;
}

.flexColChild--container-login-header, .flexColChild--container-login-wishlist, .flexColChild--container-login-ofertas{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 40px !important;
}
.flexColChild--container-login-wishlist{
  margin-top: 4px;
}

.flexColChild--container-login-header :global(.vtex-button):hover{
  background: transparent;
}

.flexColChild--container-login-header :global(.vtex-button__label)::after{
  display: block;
  content: "";
  background-image: url("/arquivos/Icon-Account-Off.png");
  width: 19px;
  height: 19px;
  background-size: contain;
}

.flexRowContent--container-search-minicart{
  justify-content: center;
}

.flexColChild--logo{
  display: flex;
  justify-content: center;
}

.flexRowContent--main-header-mobile{
  background-color: #ffffff;
}
.flexRowContent--container-logo{
  background: #f5f2eb;
}

.flexCol--container-login-header :global(.vtex-login-2-x-label){
  color: #000;
  padding-left: 45px;
  font-weight: 700;
}

.flexRow--texto-nanobar-inferior {
  background: #f8f6f2;
}
/*HOME*/

.flexRow--best-sellers-main-content{
  padding: 0;
}

.flexRowContent--info-cards-main-container{
  padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .flexRowContent--info-cards-main-container{
    margin-bottom: 50px;
  }
}

.flexCol--info-card-container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 15px;
  gap: 0 35px;
}

@media screen and (max-width: 1024px) {

  .flexCol--info-card-container-grid{
    grid-template-columns: 1fr;
    gap: unset;
  }
}

/*header mob*/

.flexRow--main-header-mobile{
  padding: 10px 10px 0;
}

.flexRow--main-header-mobile :global(.vtex-store-drawer-0-x-openIconContainer){
  padding: 0;
}

.flexRow--main-header-mobile :global(.vtex-store-components-3-x-logoContainer){
  padding: 0;
}

.flexRow--main-header-mobile :global(.vtex-minicart-2-x-openIconContainer){
  padding: 0;
}

.flexRow--main-header-mobile :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button__label){
  padding: 0;
}

.flexRow--search-mobile{
  padding: 0 15px 15px;
}

.flexRow--search-mobile :global(.vtex-store-components-3-x-searchBarContainer){
  padding: 0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  justify-content: space-between;
}

/*PLP*/

.flexRow--orderByAndSwitcher{
  padding: 0;
}

/*PDP*/
.flexCol--agregar-al-carro-container{
  margin: 20px  0px !important;

}
.flexCol--descripcion-del-producto{
  padding: 10px 20px ;
}

.flexCol--agregar-al-carro-container :global(.vtex-button){
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.flexColChild--contenedor-derecho-pdp :global(.vtex-store-components-3-x-shareLabel){
  display: none;
}

.flexColChild--contenedor-derecho-pdp :global(.vtex-store-components-3-x-shareButtons){
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  .flexCol--agregar-al-carro-container :global(.vtex-button) {
    transition: 0.3s;
  }

  .flexCol--agregar-al-carro-container :global(.vtex-button):hover {
    background: #999;
  }
}

/* PDP */

.flexRow--productSpecification{
  font-size: 18px;
}
.flexColChild--productSpecificationValue{
  font-weight: bold;
  /* text-transform: uppercase; */
}

.flexRowContent--price-color .stretchChildrenWidth {
  width: auto!important;
}

@media screen and (max-width:1024px){
  .flexRowContent--breadcrumb-pdp :global(.vtex-breadcrumb-1-x-container){
    text-align: center;
    font-size: 14px;
    padding: 0 15px;
  }

  .flexRowContent--price-color .stretchChildrenWidth {
    margin: 0 12px 0 0;
  }

  .flexRowContent--price-color {
    display: flex;
    align-items: center;
  }

  .flexCol--contenedor-derecho-pdp{
    padding: 0 15px;
  }
}

/* METODOS DE PAGO */
.flexRowContent--contenedor-medios-de-pago{
  display: flex;
  justify-content: center;
    align-items: center
 }

/* Formulario Contacto */
.flexCol--form-contacto {
  justify-content: center;
  align-items: center;
}

.flexColChild--form-contacto {
    width: 50%;
}

@media screen and (max-width: 1024px) {
  .flexColChild--form-contacto {
    width: 80%;
    margin-bottom: 30px;
  }
}

.flexColChild--form-contacto :global(.vtex-input__label),
.flexColChild--form-contacto :global(.vtex-dropdown__label),
.flexColChild--form-contacto :global(.vtex-textarea__label) {
  display: none;
}

.flexColChild--form-contacto :global(.vtex-input-prefix__group),
.flexColChild--form-contacto :global(.vtex-styleguide-9-x-dropdown) {
  margin-bottom: 10px;
}

.flexColChild--form-contacto :global(.vtex-textarea__input) {
  font-size: 1rem;
}

.flexColChild--form-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* sandbox */
.flexRowContent--instagram-container{
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 40px;
}

.flexRow--container-logo {
  background: #f5f2eb;
}

/* .flexRowContent--sub-menu-container {

}

.flexRow--sub-menu-container {

} */

.flexCol--sub-menu-col {
  margin-left: 40px;
  margin-right: 40px;   
}

.flexColChild--sub-menu-col {
  height: auto !important;
}

.flexColChild--container-login-wishlist {
  height: 40px;
}

.flexRow--nanobar-mobil-sub {
  background: #f5f2eb; 
}

.flexRow--main-header-mobile {
  background: #f5f2eb;  
}

.flexRowContent--main-header-mobile {
    background-color: transparent;
}

.flexRow--search-mobile {
    background: #f5f2eb;  
    padding: 10px;
}

.flexCol--botones-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.flexRow--container-footer-imagen-full {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 20px;
  background: #f5f2eb;
}

.flexRow--container-footer-suscribete {
  background: #F5F2ED;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}

.flexCol--col-left-footer {
  border-top: solid #fff 1px;
  padding-top: 80px;
}

.flexRow--nanonbar-link-footer {
  background: #f5f2eb;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid #fff 1px;
}

.flexRow--info-cards-main-container {
  padding-top: 70px;
  background-color: #f5f2eb;
}

.flexCol--title-slider-container {
  position: relative;
  top: 31px;
  height: auto !important;
}

.flexColChild--title-slider-container {
  height: auto !important;
  width: 90%;
}

.flexRow--slider-principal-sup {
  /*background: #f8f6f2;*/
  padding-bottom: 16px;
  padding-left: 50px;
  /* padding: 0 0 50px 60px; */
}

.flexRow--slider-principal-inf {
  background: #f5f2eb;
  padding-left: 50px;
  /* padding: 0 60px 197px 60px; */
}

.flexRow--container-slider-principal-home {
  background: #f5f2eb;
  padding: 0 0 40px;
}

.flexColChild--container-slider-principal-derecha {
  position: relative;
}

.flexRow--container-imagenes-botas-flotantes {
  position: absolute;
  bottom: -105px;
  left: -112px;
}

.flexCol--categorias-home-slider {
  padding: 10px;
  text-align: center;
  /* position: relative; */
  margin: 0 16px 0;
}

.flexCol--categorias-home-slider:hover {
  transform: scale(1.06);
  transition: transform 0.9s;
}

.flexRow--categorias-home-slider{
  margin-bottom: 5%;
}

.flexCol--cointaner-zapatilla-infocard {
  text-align: center;
}

.flexCol--container-card-home-superior {
  position: relative;
}

.flexCol--cointaner-zapatilla-infocard {
  position: relative;
  bottom: 50px;
}

.flexCol--cointaner-zapatilla-infocard {
  height: 40px;
}
.flexCol--container-slider-principal-derecha{
  background-color: #f5f2eb;
}
.flexRowContent--container-imagenes-botas-flotantes{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.flexRow--container-categorias-home-slider{
  background-color: #f5f2eb;
  padding-left: 12px;
  padding-right: 12px;
}
.flexColChild--categorias-home-slider{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRow--container-categorias-home-destacadas{
  background-color: #f5f2eb;
  padding-top: 95px;
  padding-bottom: 95px;
  padding-left: 30px;
  padding-right: 30px;
}
.flexRow--prefooter-home{
  background-color: #f5f2eb;
  padding-bottom: 80px;
}
.flexRow--best-sellers-main-content{
  background-color: #f5f2eb;
  padding-top: 40px;
  padding-bottom: 20px;
}
.flexCol--destacado-home-info{
  margin-left: 8px;
  padding: 5px 5px 5px 10px;

}

.flexCol--modal-content-titles-container{
  display: flex;
  align-items: center;
  padding: 12px;
}
.flexCol--modal-ofertas-promo-container{
  margin: 32px;
  border: 3px solid #fff;
  padding: 12px;
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
}
.flexCol--form-contacto{
  margin: 48px 0px;
}

.flexColChild--categoria-destacado-home-seccion-01-izq {
  width: 50%;
  display: inline-block;
}

.flexRow--container-categorias-home-destacadas-mobil {
  display: none;
}

.flexCol--container-imagenes-botas-flotantes-uno {
  display: none;
}

.flexCol--form-container-suscribete {
  padding: 30px;
}

.flexColChild--form-container-suscribete :global(.vtex-rich-text-0-x-paragraph) {
    font-size: 25px;
    font-weight: bold;
} 

.flexColChild--form-container-suscribete :global(.vtex-rich-text-0-x-paragraph)::before {
    content: "GRACIAS POR SUSCRIBIRTE, TE DAMOS LA BIENVENIDA A MERRELL, YA TIENES UN 15% DE DCTO EN TU PRIMERA COMPRA, SOLO DEBES INGRESAR ESTE CUPÓN EN TU CARRITO DE COMPRAS:";
    display: block;
    font-size: 16px;
    font-weight: 100;
} 

.flexRowContent--newsletter-data-1 :global(.vtex-styleguide-9-x-input),
.flexRowContent--newsletter-data-2 :global(.vtex-styleguide-9-x-input),
.flexRowContent--newsletter-data-2 :global(.vtex-dropdown__caption){
  font-size: 11.5px;
}

.flexRowContent--newsletter-data-3 :global(.vtex-checkbox__label){
  font-size: 12px;
  top: 3px;
  position: relative;
}

.flexRow--texto-informativo {
    padding: 8px 24px;
    background: #E2F0F3;
}

.flexRow--container-about-us-banner-calzado {
  position: relative;
  margin: 0 0 210px 0;
}

.flexRow--container-about-us-banner {
  margin: 0 0 30px 0;
  background: #f5f2ea;
}

.flexCol--container-about-us-banner-seccion {
  margin: 10px;
}

.flexRow--titulo-about-us {
  margin: 12px 8px;
}

.flexColChild--container-about-us-banner-seccion {
  height: auto !important;
}


.flexRow--prefooter-home-detalle{
  border: #f5f2eb;
  background: #f5f2eb;
}

.flexCol--prefooter-home-detalle-derecha{
    margin: 0 38px 0 71px;
}

.flexColChild--prefooter-home-detalle-derecha{
  height:auto !important;
}

.flexRow--msn-interbank {
  background: #f7f7f7;
  padding: 0 12px;
}

.flexRow--promo-banner-detalle {
  background: #f5f2eb;
  padding: 50px 0;
}  

.flexRowContent--newsletter-data-1 {
  justify-content: center;
  gap: 14px;
  align-items: center;
}

.flexRowContent--newsletter-data-2 {
  justify-content: center;
  gap: 7px;
  align-items: center;
}

.flexRowContent--newsletter-data-3 {
  justify-content: center;
  align-items: center;
}

.flexCol--container-banner-derecha-music-experience {
  padding: 0 10%;
}

.flexColChild--container-banner-derecha-music-experience{
  height: auto;
}

.flexCol--spotify-izquierda-music-experience {
  margin: 0 2%;
}

.flexCol--spotify-derecha-music-experience {
  margin: 0 2%;
}
.flexRowContent--container-music-experience-spotify {
  padding: 4% 2%;
}

.flexColChild--container-img-music-conten-tab {
  margin: 3px 9px;
}

.flexCol--container-img-music-conten-tab {
  position: relative;
}

.flexCol--container-img-music-conten-tab:hover :global(.vtex-rich-text-0-x-paragraph--btn-music-tab) {
  display: block;
  opacity: 1;
}

.flexCol--spotify-derecha-music-experience {
  height: 152px;
}

.flexCol--banner-secundario-experience-izquierda {
  margin: 5% 0 5% 5%;
  height: 85%;
  text-align: center;
}

.flexCol--banner-terciario-experience-derecha {
  text-align: center;
}

.flexRowContent--container-music-experience-banner {
  padding: 40px 0;
}
.flexRow--container-music-experience-banner {
  background: #F5F2ED;
}
.flexCol--container-tiendas-banner {
  border: solid 1px #000;
  margin: 0 5%;
  border-radius: 5px;  
}

.flexRow--tiendas-banner-seccion {
  margin: 20px 0; 
}

.flexRow--tiendas-titulo-maps {
  padding: 20px;
}

.flexCol--link-maps-button {
  background: #000;
  color: #fff;
  border-radius: 5px;
}

.flexCol--container-datos-apoderado {
  padding: 0 4%;
  margin: 12px 0;
  background: #f9f9f9;
}

.flexRow--form-container-suscribete-landing {
    padding: 4% 20%;
}

.flexRow--form-container-suscribete-landing :global(.vtex-rich-text-0-x-paragraph) {
    font-size: 25px;
    font-weight: bold;
} 

.flexRow--form-container-suscribete-landing :global(.vtex-rich-text-0-x-paragraph)::before {
    content: "GRACIAS POR SUSCRIBIRTE, TE DAMOS LA BIENVENIDA A MERRELL, YA TIENES UN 15% DE DCTO EN TU PRIMERA COMPRA, SOLO DEBES INGRESAR ESTE CUPÓN EN TU CARRITO DE COMPRAS:";
    display: block;
    font-size: 16px;
    font-weight: 100;
} 

.flexRowContent--form-container-suscribete-landing :global(.vtex-styleguide-9-x-input)::placeholder {
  font-size: 16px;
}

.flexRowContent--form-container-suscribete-landing .flexRowContent--newsletter-data-2 :global(.vtex-dropdown__caption) {
  font-size: 16px;
}

.flexRow--newsletter-data-2 {
  margin: 16px 0;
}

.flexRowContent--form-container-suscribete-landing :global(.vtex-styleguide-9-x-input){
  font-size: 16px;
}

.flexRowContent--disponibilidad-izquierda {
  margin: 15px 0;
  padding: 0;
  align-items: center;
}

.flexRowContent--disponibilidad-izquierda .stretchChildrenWidth {
  padding: 0;
}

.flexCol--contenedor-derecho-pdp {
  position: relative;
}

.flexRow--ruc-text-container {
  background: #f5f2eb;
}

.flexCol--terminos-y-condiciones-tabla {
  border: solid 1px #7e7e7e;
}
.flexCol--cambios-y-devoluciones-tabla {
  border: solid 1px;
}
.flexRow--container-music-experience-spotify {
  background: #F5F2ED;
}
.flexRow--container-hast-music-experience {
  background: #F5F2ED;
} 



@media screen and (max-width: 1024px) {
  .flexRow--container-imagenes-botas-flotantes {
    position: absolute;
    bottom: -130px;
    left: -30px;
  }
}

@media screen and (max-width: 640px) {
  .flexRow--slider-principal-sup{
    padding: 0;
  }
  .flexCol--title-slider-container{
    position: relative;
    top: 0;
  }
  .flexRow--container-imagenes-botas-flotantes{
    bottom: -72px;
    left: -8px;
  }
  .flexRow--slider-principal-inf{
    padding: 0;
    margin: 26px
  }
  .flexRow--container-categorias-home-slider{
    padding-top: 38px;
  }
  .flexCol--categorias-home-slider{
    margin: 0 16px 12px;
  }
  .flexRowContent--info-cards-main-container{
    margin-bottom: 0px;
  }
  .flexRowContent--info-cards-main-container{
    padding-bottom: 0px;
  }
  .flexRow--container-categorias-home-destacadas{
    padding-top: 42px;
  }
  .flexColChild--destacado-home-info{
    margin: 0;
  }
  .flexColChild--item-categoria-home-destacada{
    text-align: center;
  }
  .flexCol--item-categoria-home-destacada {
    width: 100%;
  }  
  .flexRowContent--categoria-destacado-mobil {
      display: flex;
      justify-content: center;
      background: #f5f2eb;
  }
  .flexCol--destacado-home-info {
    order: 0
  }
  .flexCol--image-categoria-destacado-mobil {
    order: 1
  }
  .flexRow--container-categorias-home-destacadas {
    display: none;
  }  
  .flexRow--container-categorias-home-destacadas-mobil {
    display: block;
  }
  .flexColChild--title-slider-container {
    width: 100%;
  }
  .flexRowContent--social-footer-mobil {
      display: flex;
      margin: 20px 0 0 0;
  }
  .flexCol--container-imagenes-botas-flotantes-uno {
    display: block;
    position: absolute;
    top: 164px;
    left: 42%;
    z-index: 1;
    width: 58%!important;
    height: auto;
  }
  .flexRowContent--container-slider-principal-home {
    position: relative;
  }
  .flexCol--container-slider-principal-derecha {
    position: relative;
  }
  .flexRow--container-imagenes-botas-flotantes {
    display: none;
  }
  .flexRow--container-slider-principal-home {
    padding: 0;
  }
  .flexRow--info-cards-main-container {
    padding: 40px 0;
  }  
  .flexCol--agregar-al-carro-container{
    margin: 0px !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    left: 0;
    display: block;
    background-color: #ffff;
    padding: 15px 0 10%;
    z-index: 2;
    box-shadow: 3px 3px 5px 6px #a09f9f8c;
  }
  .flexRow--container-about-us-banner-calzado {
    margin: 0 0 50px 0;
  }  
  .flexCol--banner-izquierda-about-us {
    display: none;
  }
  .flexRowContent--msn-interbank {
    display: flex;
    align-items: center;
    max-height: 100%;    
  }
  .flexCol--msn-interbank-txt {
    margin-right: 14px;
  }
  .flexCol--prefooter-home-detalle-derecha{
      margin: 0 22px;
  }
  .flexCol--botones-footer {
    justify-items: left;
  }
  .flexCol--form-container-suscribete {
    padding: 15px;
  } 
  .flexRowContent--faq {
    max-width: 100%;
  }
  .flexCol--spotify-izquierda-music-experience {
    padding: 20px 0;
  }
  .flexRowContent--secciones-music-todo :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 50% !important;
    display: inline-block;
  }
  .flexColChild--container-img-music-conten-tab {
    margin: 1px 4px
  }
  .flexCol--banner-secundario-experience-derecha {
    display: none;
  }
  .flexCol--banner-terciario-experience-izquierda {
    display: none;
  }  
  .flexCol--container-tiendas-banner {
    margin: 5%;
  }
  .flexRow--form-container-suscribete-landing {
    padding: 2%;
  }
  .flexColChild--form-container-suscribete .flexRow--newsletter-data-3 .stretchChildrenWidth {
    margin: 20px 0;
  }     
  .flexRow--form-container-suscribete-landing :global(.vtex-styleguide-9-x-dropdown) {
    margin: 15px 0;
  }
  .flexRow--form-container-suscribete-landing .flexRow--newsletter-data-3 .stretchChildrenWidth {
    margin: 20px 0;
  }   
  .flexRow--form-container-suscribete-landing .flexRow--newsletter-data-2 {
    margin: 0;
  }  
  .flexRow--form-container-suscribete-landing .flexRowContent--newsletter-data-1 .stretchChildrenWidth {
    margin: 15px 0;
  }
  .flexRowContent--disponibilidad-izquierda {
      display: grid;
      grid-template-columns: auto auto;
  }  
  .flexRowContent--titulo-terminos-y-condiciones-mobil {
    display: flex;
  }
  .flexRowContent--titulo-cambios-y-devoluciones-mobil {
    display: flex;
  }
  .flexRowContent--container-music-experience-spotify {
    display: grid;
  }
  .flexRowContent--container-music-experience-spotify .stretchChildrenWidth:nth-child(odd) {
    order: 1;
  }
  .flexRowContent--container-music-experience-spotify .stretchChildrenWidth:nth-child(even) {
    order: 0;
  }
}


@media (max-width: 1025px) and (min-width: 640px) { /* Tablet */
  .flexCol--destacado-home-info {
    padding: 0; 
  }
  .flexRow--container-imagenes-botas-flotantes {
    bottom: -60px;
  }  
}