.listPrice {
  color: #727273;
  font-size: 1rem;
}

.sellingPrice {
  color: #000;
}

.sellingPriceValue {
  font-size: 18px;
  font-weight: 700;

}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
    background: #F4762D;
    font-weight: 500;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    text-align: center;
}

.sellingPriceValue--summary {
  font-size: 14px;
  font-weight: 600;
  color: #2E2E2E;
}

.savings--summary {
  background: #F4762D;
  border-radius: 7px;
  align-items: center;
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
