/*DEFAULT */
.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}

.container--title {
  color: #000000;
  font-size: 28px;
  font-weight: 700;
  padding: 0 20px;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }
}

.container--about {
  max-width: 85%;
  padding: 0 20px;
}
  /*
  .container--title {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    max-width: 60%;
  } */

  .container--title-comprar {
    color: #3f3f40;
    font-size: 18px;
    font-weight: 700;
    padding-left: 70px;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }


/*END OF DEFAULT*/

/*footer*/

.paragraph--email-footer {
  display: flex;
  align-items: center;
  margin: 0;
}

.image--email-footer {
  filter: brightness(0);
  margin-right: 10px;
}

.paragraph--footer-social-network-text {
  color: #3f3f40;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 36px;
}

.paragraph--suscribete-footer-text {
  color: #3f3f40;
  font-size: 28px;
  font-weight: bold;
  /* margin: 0 0 15px; */
  line-height: 1.25;
  letter-spacing: -.026em;
}

.paragraph--suscribete-footer-text-vistoso {
  font-size: 12px;
  color: #16b3aa;
}

.link--email-footer {
  font-size: 11px;
  line-height: unset;
  font-weight: 400;
  color: #3f3f40;
  margin-bottom: 2px;
}

.container--ColiseumlinkText {
  display: flex;
  justify-content: flex-end;
  padding: 0 60px;
  font-size: 10px;
  border-bottom: 1px solid #3f3f40;
}

.link--ColiseumlinkText {
  text-decoration: underline;
  color: #3f3f40;
}

.wrapper--footer-text-tienda-marca {
  width: 100%;
}

.paragraph--footer-text-tienda-marca {
  font-weight: 500;
  text-align: center;
}

.container--title-contactenos {
  display: flex;
  justify-content: center;
}

/*home*/

.paragraph--info-card-container-title {
  font-size: calc(2em + 2 * (100vw - 20em) / 69.375);
  font-weight: 700;
  margin: 0 15px;
  line-height: unset;
}

.paragraph--best-sellers-container-title {
  font-size: calc(3em + 2 * (100vw - 20em) / 69.375);
  font-weight: 700;
  margin: 0 0 10px;
  line-height: unset;
}

.paragraph--best-sellers-container-subtitle {
  font-size: 3rem;
  line-height: unset;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.container--best-sellers-container-subtitle{
  display: flex;
  align-items: end;
  justify-content: center;
}

/*search*/

.container--layout-option {
  margin-left: 0.3em;
}

.paragraph--layout-option {
  margin: 0;
}

.paragraph--summarySpecificationBullet {
  margin: 0;
  line-height: initial;
  font-size: 1.25rem;
  line-height: 1.15rem;
}

/* GUIA DE TALLAS */

.paragraph--tallas {
  padding-top: 15px !important;
}

@media screen and (max-width: 1024px) {
  .paragraph--tallas {
    margin: 0;
  }
}

.strong--tallas {
  cursor: pointer;
  color: #000;
}

.container--title-mobile {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.container--preguntas-frecuentes {
  display: flex;
  justify-content: center;
}

.wrapper--preguntas-frecuentes {
  font-size: 20px;
  font-weight: bold;

  text-decoration: underline;
}

.container--contenedor-texto-tallas{
  padding: 0 20px;
}
/* PDP */
.paragraph--texto-envioydevolucion{
  padding: 0 20px;
}
/* .paragraph--text-metodos-de-pagos{
  padding-bottom: 10px;
} */
.paragraph--text-metodos-de-pagos {
  display: flex;
  align-items: center;
}

:global(.vtex-rich-text-0-x-paragraph--text-metodos-de-pagos)::before {
  content: "";
  display: block;
  background-image: url(/arquivos/metodo.png);
  width: 23px;
  height: 23px;
  background-size: cover;
  margin-right: 10px;
}

/* Formulario Contacto */
.paragraph--title-contactenos {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.link--form-title-contacto {
  color: black;
  text-decoration: none;
}

.paragraph--form-title-contacto {
  margin-top: 0;
}

/* product-summary.shelf */
.container--sinmarca {
  color:#ffffff ;
}

.paragraph--sinmarca {
  margin: 11px 0;
}

.paragraph--madden-girl {
  margin: 11px 0;
}

.wrapper--madden-girl {
    font-size: 12pt;
    font-family: 'Gotham Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #b2b2b2;
}

.wrapper--texto-nanobar-inferior {
  background: #f8f6f2;
}

.paragraph--nanobar-inferior-texto .paragraph--nanobar-inferior-texto--nanobar-inferior-texto-izq {
    font-size: 1em;
    text-transform: uppercase;
    color: #F4762D;
    margin-right: 10px;
}

.paragraph--nanobar-inferior-texto, .paragraph--texto-nanobar {
  text-align: center;
}

.paragraph--texto-nanobar {
  margin-top: 5px;
}

.flexRowContent--espacio-gris {
  height: 40px;
}

.wrapper--nanobar-inferior-texto, .wrapper--texto-nanobar {
  width: 100%;
}

.paragraph--sub-menu-title {
  font-weight: bold !important;
  font-size: 24px;
  font-family: sans-serif;
}

.link--texto-nanobar {
  color: #000;
  text-decoration: underline;
  margin-left: 15px; 
}

.link--texto-nanobar:hover {
  color: #F4762D;
}

.link--nanobar-inferior-texto {
  color: #000;
  text-decoration: underline;
  margin-left: 15px; 
  font-size: 12px;
}

.link--nanobar-inferior-texto:hover {
  text-decoration: none;  
}

.paragraph--suscribete-footer-parrafo{
  font-family: 'Gira-sans-book';
  font-size: 14px;
  padding: 0;
  margin: 0;  
  font-weight: bold;
}

.paragraph--btn-button-footer {
    padding: 10px 45px;
    border: solid 0.125em #373836;
    border-radius: 8px;
    font-weight: bold;
    color: #3f3f40; 
    cursor: pointer;   
}

.link--btn-button-footer {
  text-decoration: none;
  color: #3f3f40;
}

.paragraph--btn-button-footer:hover .link--btn-button-footer {
    background: #3f3f40;
    color: #fff;
}

.paragraph--btn-button-footer:hover {
    background: #3f3f40;
    color: #fff;
}

.paragraph--info-card-btn-hombre-mujer {
  position: relative;
  background: #3f3f40;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: solid 0.125em #373836;
  transition: all .2s;
}
/*.paragraph--info-card-btn-hombre-mujer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: inherit;
  border-radius: 0.5em;
  border: solid 0.125em #373836;
}*/
.link--info-card-btn-hombre-mujer{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 12px 40px;
}
.paragraph--info-card-btn-hombre-mujer:hover {
  transform: translate(-0.4em,-0.4em);
}

.paragraph--info-card-title-slider {
  font-family: 'Gira-sans-book';
  font-size: 40px;
  font-weight: bold;
  margin: 0px 0 0;
}

.wrapper--info-card-linea-slider {
  width: 100px;
  margin: 0;
  margin-top: 18px;
  border-bottom: 4px solid #f7513c;
}

.paragraph--info-card-subtitle-slider {
  font-size: 19px;
}

.flexColChild--container-slider-principal-derecha {
  height: auto;
}

@media screen and (max-width: 1024px) {
  .paragraph--texto-nanobar {
    font-size: 12px;
    margin: 8px 0;
  }
  .paragraph--destacado-home-title{
    font-size: 32px;
  }
}

.paragraph--category-title-home{
  font-family: 'Gira-sans-book';
  font-weight: bold;
  font-size: 16px;
}
.paragraph--destacado-home-title{
  font-family: 'Gira-sans-book';
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.paragraph--destacado-home-descripcion{
  font-weight: 400;
  font-size: 14px;
}
.link--destacado-home-button{
  text-decoration: none;
  background: transparent;
  color: #3f3f40;
  font-weight: 800;
  border: 2px #3f3f40 solid;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
}
.link--destacado-home-button:hover{
  background-color: #3f3f40;
  color: #ffffff;
}

.container--link-novedades-home{
  margin-left: 17%;
}

.link--link-novedades-home{
  background-color: #3f3f40;
  color: #ffffff;
  padding: 12px;
  border-radius: 6px;
  text-decoration: none;
}

.wrapper--link-novedades-home:hover{
  transform: translate(-0.4em,-0.4em);
  transition: all .2s;
}

.paragraph--copyright,
.paragraph--contry-text{
  font-weight: 400;
  font-style: normal;
  color: #373836;
  font-size: 12px;
  text-decoration: none;
  text-transform: none;
}

.wrapper--modal-content-text-title :global(.vtex-rich-text-0-x-heading){
  margin:0;
  font-size: 38px;
}

.wrapper--oferta-title-promo :global(.vtex-rich-text-0-x-heading){
  margin: 0;
}
.link--oferta-button-promo{
  width: 100%;
  color: #fff;
  background: #373836;
  height: 44px;
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
}

.wrapper--categorias-home-titulo {
  margin: 0 0 0 15px;
}

.paragraph--click-popup-btn-suscribete{
    background: #F4762D;
    color: white;
    padding: 15px 100px;
    cursor: pointer;
    border-radius: 4px;
}

.paragraph--click-popup-btn-suscribete:hover{
  transform: translate(-0.4em,-0.4em);
  transition: all .2s;
}

.paragraph--click-popup-btn-suscribete-seccion{
    background: #3f3f40;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper--modal-titulo-suscribete{
  text-align: center;
  display: block;
  font-size: 20px;
  position: relative;
  width: 100%;
}

.paragraph--description-info {
    font-size: 12px;
    font-weight: bold;
}

.link--description-info {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.wrapper--description-info {
    font-size: 12px;
}

.wrapper--about-us-linea-titulo {
  width: 150px;
  margin: 0;
  border-bottom: 2px solid #f7513c;
}

.paragraph--seccion-about-us-subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.paragraph--seccion-about-us-content {
  margin: 0;
}

.link--link-about-button {
    color: #000;
    font-weight: 500;
}

.link--link-about-button:hover {
    color: #a9a9a9;
}
.paragraph--prefooter-home-detalle-derecha-titulo{
  font-size: 30px;
  font-weight: bold;
  font-weight: 700px;
  
}

.link--info-card-title-slider {
  text-decoration: none;
  color: #3f3f40;
}

.link--info-card-subtitle-slider {
  text-decoration: none;
  color: #3f3f40;
}

.link--destacado-home-title {
  text-decoration: none;
  color: #3f3f40;
}

.link--destacado-home-descripcion {
  text-decoration: none;
  color: #3f3f40;  
}

.container--click-guia-tallas::after {
  background-image: url(/arquivos/ruler.png);
  content: 'AA';
  display: flex;
  justify-content: flex-end;
  align-items: end;
  color: transparent;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 41px;
  height: 44px;
  width: 37px;
  background-position: 9px 13px;
  border: 0px;
  cursor: pointer;
}

.paragraph--click-guia-tallas {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

.link--prefooter-home-detalle-derecha-titulo {
  color: #3f3f40;
  text-decoration: none;
}

.link--prefooter-home-detalle-derecha-descipcion {
  color: #3f3f40;
  text-decoration: none;  
}

.link--promo-banner-derecha-titulo {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #3f3f40;
}

.paragraph--modal-titulo-suscribete {
  margin: 15px 0 0 0;
}

.paragraph--sub-menu-col-title {
  font-weight: bold;
}

.link--footer-social-network-text {
  color: #3f3f40;
}

.container--spotify01-music-experience, .container--spotify02-music-experience, .container--spotify03-music-experience {
  display: block;
  text-align: right;
  padding: 0 5%;
}

.heading--spotify02-music-experience {
  margin: 0;
  color: #000;
}

.paragraph--spotify01-music-experience, .paragraph--spotify02-music-experience, .paragraph--spotify03-music-experience {
  margin: 0;
}

.paragraph--btn-music-tab {
  display: none;
}

.link--btn-music-tab {
  padding: 10px 40px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  bottom: 42%;
  left: 27%;
  text-decoration: none;
}

.link--spotify03-music-experience{
  color: #ed7035;
}

.paragraph--spotify01-music-experience {
  font-weight: bold;
  font-size: 20px; 
  color: #000; 
}

.heading--hast-music-experience {
  color: #ed8329;
  padding: 56px 0;
  font-family: gira-sans,sans-serif;
  font-weight: 800;
  font-size: 45px;
}

.container--btn-music-tab {
  height: 0;
}

.container--seccion-tiendas-detalle {
  background: #eee;
  padding: 20px;
}

.link--link-maps-button {
  background: #000;
  color: #fff;
  padding: 10px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.paragraph--tiendas-titulo {
    font-size: 46px;
    margin: 0 0 10px 0;
    font-weight: 800;
}

.heading--container-tiendas-titulo-seccion {
  margin: 20px 0 0 0;
}

.paragraph--seccion-tiendas-detalle {
  font-size: 13px;
}

.paragraph--encuentra-tu-tienda-footer {
    display: flex;
    align-items: center;
    margin: 0;
    white-space: nowrap;
}

.image--encuentra-tu-tienda-footer {
  margin: 0 6px 0 0;
}

.link--encuentra-tu-tienda-footer {
  color: #000;
  font-size: 14px;
}

.wrapper--SubTitle-libro {
  font-size: 10.5px;
}

.headingLevel1--seo-h1-home {
  margin: 0;
  color: #f5f2eb;
  font-size: 0;
}

.paragraph--texto-derecha-titulo {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.container--click-guia-tallas {
  position: absolute;
  right: 5%;
  cursor: pointer;
}
  
.paragraph--texto-derecha-disponibilidad, .paragraph--texto-derecha-despacho {
  margin: 0;
  text-decoration: underline;
  font-size: 11px;  
}

.paragraph--texto-derecha-despacho:hover, .paragraph--texto-derecha-disponibilidad:hover {
    cursor: pointer;
}

.link--nano-title {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.paragraph--nano-title {
  margin: 8px;
  text-align: center;
}

.link--nano-seccion-title {
  text-decoration: none;
  font-size: 12px;
  color: #fff;  
}

.paragraph--nano-seccion-title {
  margin: 6px 0;
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
}

.image--nano-seccion-title {
  vertical-align: middle;
  margin: 0 6px;
}

.wrapper--ruc-text {
  font-size: 12px;
}

.container--celda-terminos-y-condiciones {
  border: solid 1px #7e7e7e;
}

.paragraph--titulo-terminos-y-condiciones {
    font-weight: bold;
    font-size: 15px;  
    margin: 2px 0 2px 20px;
}

.paragraph--celda-terminos-y-condiciones {
  font-size: 12px;
  margin: 2px 0 2px 20px;
}

.container--titulo-terminos-y-condiciones {
  border: solid 1px #7e7e7e;
}

.container--celda-cambios-y-devoluciones {
  border: solid 1px #7e7e7e;
}

.paragraph--titulo-cambios-y-devoluciones {
    font-weight: bold;
    font-size: 15px;  
    font-family: Mier-A-Black;
    margin: 2px 0 2px 20px;
}

.paragraph--celda-cambios-y-devoluciones {
  font-size: 12px;
  margin: 2px 0 2px 20px;
}

.container--titulo-cambios-y-devoluciones {
  border: solid 1px #7e7e7e;
}

@media screen and (max-width: 1025px) { /* Tablet */
  .paragraph--prefooter-home-detalle-derecha-titulo {
    font-size: 16px;
    margin: 0;    
  }
  .paragraph--prefooter-home-detalle-derecha-descipcion {
    font-size: 10px;
  }
  .link--destacado-home-title {
    font-size: 12px;
    line-height: 12px;
    display: block;
    margin-bottom: 3px;
  }
  .link--destacado-home-descripcion {
    font-size: 9px;
  }
  .paragraph--destacado-home-descripcion {
    margin: 0;
  }
  .link--destacado-home-button {
      font-size: 9px;
      margin: 0;
      padding: 7px 10px;
  }
  .paragraph--suscribete-footer-text {
    font-size: 17px;
  }
  .paragraph--suscribete-footer-parrafo {
      font-size: 11px;
      margin-top: 20px;
  }
  .paragraph--click-popup-btn-suscribete {
    padding: 8px 12px;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 32px;
  }
  .paragraph--btn-button-footer {
      padding: 5px 10px;
      font-size: 12px;
      width: 105px;
  }
  .paragraph--destacado-home-button {
    margin: 10px auto 5px;
  }
  .info-card-title-slider {
    font-size: 22px;
  }
  .paragraph--info-card-subtitle-slider {
    font-size: 15px;
    margin: 8px;
  }
  .paragraph--info-card-btn-hombre-mujer {
    padding: 6px 26px;
    margin: 10px 0;
    font-size: 12px;
  }
  .paragraph--info-card-title-slider {
    font-size: 20px;
  } 
  .paragraph--sub-menu-title {
    font-size: 20px;
    margin: 5px 0 0 0;
  }   
}

@media screen and (max-width: 640px) { /* Mobil */
  .paragraph--destacado-home-title{
    font-size: 16px;
  }
  .paragraph--destacado-home-descripcion{
    font-size: 12px;
  }
  .link--destacado-home-button{
    font-size: 12px;
  }
  .paragraph--prefooter-home-detalle-derecha-titulo {
    font-size: 18px;
    margin: 20px 0 0 0;
  }
  .wrapper--info-card-title-slider,
  .wrapper--info-card-subtitle-slider,
  .wrapper--info-card-btn-hombre-mujer{
    width: 100%;
    text-align: center;
  }
  .wrapper--info-card-linea-slider{
    width: 100%;
    margin: 5px 26px;
  }
  .paragraph--best-sellers-container-subtitle{
    writing-mode: horizontal-tb;
    transform: none;
    margin: 24px;
    font-size: 26px;
  }
  .container--link-novedades-home{
    margin-left: 0px;
  }
  .wrapper--link-novedades-home{
    width: 100%;
    text-align: center;
  }
  .wrapper--destacado-home-title,
  .wrapper--destacado-home-descripcion,
  .wrapper--destacado-home-button{
    width: 100%;
    text-align: center;
  }
  .paragraph--destacado-home-title{
    font-size: 16px;
    margin: 0 0 8px;
  }
  .paragraph--destacado-home-descripcion{
    font-size: 11px;
    margin: 0;
  }
  .link--destacado-home-button{
    font-size: 12px;
    width: 100%;
  }
  .paragraph--btn-button-footer {
    padding: 10px 8px;
  }
  .paragraph--category-title-home{
    font-size: 14px;
    height: 42px;
    margin: 8px 0;
    text-align: center;
    position: relative;
  }
  .headingLevel3--categorias-home-titulo {
    font-size: 21px;
  }
  .paragraph--info-card-subtitle-slider {
    font-size: 13px;
    margin: 0 15px;
  } 
  .paragraph--info-card-title-slider {
    font-size: 19px;
    padding: 0 25px;
    margin: 10px 0 0 0;
  }  
  .paragraph--info-card-btn-hombre-mujer {
    margin: 0;
    font-size: 11px;
  }  
  .link--link-novedades-home{
    padding: 8px 40px;
    font-size: 12px;
  }  
  .paragraph--prefooter-home-detalle-derecha-descipcion{
    font-size: 12px;
  }
  .paragraph--click-popup-btn-suscribete {
    padding: 8px 100px;
    font-size: 11px;
    margin: 10px 0 0 0;
    text-align: center;
  }  
  .paragraph--suscribete-footer-text {
    margin: 25px 0 8px;
    font-size: 22px;
    text-align: center;
  } 
  .paragraph--suscribete-footer-parrafo {
      font-size: 11px;
  }
  .container--click-popup-btn-suscribete {
      display: block;
  }
  .container--suscribete-footer-text {
      display: block;
  }
  .wrapper--modal-titulo-suscribete{
    font-size: 12px;
  } 
  .paragraph--modal-titulo-suscribete {
      margin: 0;
  }
  .link--promo-banner-derecha-titulo {
    font-size: 19px;
  }  
  .paragraph--promo-banner-derecha-titulo {
    margin: 12px 0 0 0;
  } 
  .vtex-rich-text-10-x-link--footer-social-network-text {
    color: #3f3f40;
  } 
  .paragraph--sub-menu-title {
    font-size: initial;
  }  
  .heading--spotify02-music-experience {
    font-size: 23px;
  }  
  .paragraph--spotify01-music-experience {
    font-size: 14px;
  }
  .link--spotify03-music-experience {
    font-size: 11px;
  }
  .heading--hast-music-experience {
    font-size: 25px;
  } 
  .link--btn-music-tab {
    bottom: 2%;
    left: 2%;
    width: 96%;
    opacity: 0.9;
    background: #dbdbdb;
    color: #000;
    text-align: center;
    border-radius: 0 0 12px 12px;
  } 
  .paragraph--btn-music-tab {
    display: block;
  }
  .container--encuentra-tu-tienda-footer {
    margin: 0 13px;
  }
}
