.groupName {
  font-size: 1.25rem;
}

.specificationName{
  text-transform: uppercase;
}

.specificationName::after{
  content: "-";
  margin: 0 5px;
}

:global(.vtex-address-form-4-x-container){
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}