.link {
  padding: 0;
  color: #000;
}

@media screen and (min-width: 1024px) {
  /* .caretIcon{
        margin-bottom: 1.5px;
        margin-right: 5px;
    } */
}

/* .container{
  text-transform: uppercase;
} */
.homeIcon {
  display: none;
}
.caretIcon {
  width: 0;
}
.container {
  font-size: 12px;
}

.link::after {
  content: ".";
  font-size: 24px;
  margin: 0 12px;
  color: #000;
  position: relative;
  font-weight: bold;
  top: -2px;
}

@media screen and (max-width: 1024px) {
  .link::after {
    font-size: 14px;
    margin: 0 4px;
  }
}

.homeLink {
  display: none;
}

.arrow {
  margin: 0;
  padding: 0;
}

.term {
  padding: 0;
  color: #000;
}
