/* .container {
  padding: 0;
} */

.sizeDesktop {
  padding: 0;
}

.notificationBarContainer {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  font-size: 10px;
  text-decoration: underline;
  display: flex;
  justify-content: flex-end !important;
  border-bottom: #000000;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: #fff;
  color: #000;
  border-radius: unset;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #ddd;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: unset;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 400px;
  padding-left: 50px;
  margin-bottom: 20px;
}

.imageElement--storePrint-mobile {
  padding-left: 70px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
}

@media only screen and (max-width: 640px) {
  .productNameContainer {
    padding: 0 10px;
  }
}

.imageElement--image-mujer-submenu{
height: 80%;
}

/*footer*/

.form {
  margin: 0;
}

.infoCardContainer--info-card-footer {
  height: 100%;
}

.infoCardTextContainer--info-card-footer {
  width: 100% !important;
}

.infoCardCallActionContainer--info-card-footer :global(.vtex-button) {
  color: black;
  background: white;
  border: 1px solid white;
  border-radius: unset;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.infoCardCallActionContainer--info-card-footer :global(.vtex-button):hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.infoCardHeadline--info-card-footer {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 40px;
  color: white;
}

.infoCardSubhead--info-card-footer {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.searchBarIcon--search {
  display: none;
}
.imageElementLink--footer-social-network-logo {
  border-radius: 50% 50% 50% 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.imageElement--footer-social-network-logo {
  width: 30px;
}

/*home*/

.infoCardContainer--info-card-home {
  height: 100vh;
  max-height: 740px;
  border-radius: 25px;
}

.infoCardContainer--info-card-home :global(.vtex-store-components-3-x-infoCardCallActionContainer--info-card-home){
  max-height: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.infoCardContainer--info-card-home:hover :global(.vtex-store-components-3-x-infoCardCallActionContainer--info-card-home){
  max-height: auto;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}


@media screen and (max-width: 1024px) {
  .infoCardContainer--info-card-home {
    max-height: 60vh;
  }
}

.infoCardHeadline--info-card-home {
  font-size: clamp(4rem, 4rem + 1vw, 8rem) !important;
  color: #fff;
  text-decoration-line: underline;
}

@media screen and (max-width: 360px) {
  .infoCardHeadline--info-card-home {
    font-size: 50px !important;
  }

  .logoImage {
    width: 160px;
  }
}

.infoCardTextContainer--info-card-home {
  width: 100%;
}

.infoCardCallActionContainer--info-card-home :global(.vtex-button) {
  background: #fff;
  border: none;
  border-radius: 25px;
  transition: 0.3s;
  padding: 1rem 2rem;
}

.infoCardCallActionContainer--info-card-home :global(.vtex-button__label) {
  color: #000;
  transition: 0.3s;
  font-size: clamp(1rem, 1em + 1vw, 1.5rem);
  font-weight: 700;
  padding: 0;
}

.infoCardCallActionContainer--info-card-home :global(.vtex-button):hover {
  background: #000;
  transition: 0.3s;
}

.infoCardCallActionContainer--info-card-home
  :global(.vtex-button):hover
  :global(.vtex-button__label) {
  color: #fff;
  transition: 0.3s;
}

@media screen and (min-width: 1024px) {
  .logoImage {
    transition: 0.3s;
  }
  .logoImage:hover {
    opacity: 0.6;
  }
}

/*search*/

.productBrandName--summaryListDesktop {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
}

.productBrandName--summaryListMobile {
  text-decoration: none;
  font-size: 0.875rem;
}

/* PDP */

.productNameContainer--quickview {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 30px;
  /* line-height: 70px; */
  color: #000;
  /* text-transform: uppercase; */
}

@media screen and (max-width: 1024px) {
  .productNameContainer--quickview {
    margin-top: 10px;
    font-size: 32px;
    line-height: normal;
    padding: 0 9px;
  }
}

.skuSelectorName {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
}

.productDescriptionTitle {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
}
.productDescriptionText {
  color: #000;
  font-size: 16px;
}

.skuSelectorInternalBox {
  border: 2px solid #ccc;
  border-radius: 0 !important;
}

.skuSelectorOptionsList {
  margin: 0;
}

.skuSelectorItemTextValue {
  color: #000;
}

.skuSelectorItem--selected .skuSelectorInternalBox {
  border: 2px solid #000;
}

.shippingContainer :global(.vtex-button) {
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}

.shippingContainer {
  margin-top: 25px;
}

.skuSelectorSelectorImageValue {
  font-weight: bold;
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
}

.productNameContainer--nameSku {
  color: #727273;
  font-size: 15px;
  font-weight: 300;
  margin: 8px 0px;
}

.productBrand--nameSku:first-child{
  display: none;
}

/* MODAL GUIA DE TALLAS */

.imageElement--contenedor-tallas {
  padding: 20px;
}

/* Sku selector */
.skuSelectorOptionsList .skuSelectorInternalBox {
  border-color: black;
}

.skuSelectorOptionsList .skuSelectorItem--selected .skuSelectorInternalBox,
.skuSelectorOptionsList .skuSelectorItem .skuSelectorInternalBox:hover {
  background-color: black;
}

.skuSelectorOptionsList .skuSelectorItem--selected .skuSelectorInternalBox .skuSelectorItemTextValue,
.skuSelectorOptionsList .skuSelectorItem .skuSelectorInternalBox:hover .skuSelectorItemTextValue {
  color: white;
}

.closeIcon {
  display: none;
}

.searchBarIcon--clear::after {
  display: block;
  content: "Clear";
  font-size: 14px;
  text-decoration: underline;
  background: #f5f2eb;
  margin-right: 5px;
}

.searchBarIcon--clear {
  background: #f5f2eb;
}

.searchBarIcon--clear:hover::after{
  text-decoration-color: #F4762D;
}

.footer-imagen-full {
  margin: 0 auto;
}

.infoCardContainer--home-card-01 {
  background-color: #f5f2eb;
  margin: 0;
  padding: 0;
}

.infoCardTextContainer--home-card-01 {
  width: 35%;
  margin-left: 6%;
  margin-bottom: 100px;
}

.infoCardImageContainer--home-card-01 {
  width: 65%;  
}

.imageElement--imagen-home-botas {
  transition: ease all .3s;
  width: 85%;
}
.infoCardHeadline--home-card-01{
  width: 65%;
}
.infoCardSubhead--home-card-01{
  width: 90%;
  font-size: 18px;
}

.imageElement--imagen-home-botas:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

.imageElement--img-zapatilla-infocard {
  position: relative;
  top: -40px;
  left: -172px;
  width: 48%;
}

.imageElement--img-zapatilla-infocard:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: ease all .3s;
    z-index: 0;
}

.imageElement--destacado-home-icon{
  width: 35%;
}
.infoCardContainer--info-card-prefooter-home{
  height: 695px;
}
.infoCardTextContainer--info-card-prefooter-home{
  background-color: #f5f2eb;
  padding: 80px;
  width: 30%;
  border-radius: 10px;
}

:global(.vtex-order-placed-2-x-noticesList){
  background: #fff;
}

.infoCardCallActionContainer--home-card-01 :global(.vtex-button){
    z-index: 1;
    background-color: #37382B !important;
    text-transform: initial;
}
.infoCardCallActionContainer--home-card-01:hover{
    transform: translate(-0.4em,-0.4em);
    transition: all .2s;
}

.inputGroup--newsletter-footer :global(.vtex-styleguide-9-x-input){
  border: 2px #373836 solid;
  border-radius: 8px 0 0 8px;
  height: 45px;
}
.inputGroup--newsletter-footer :global(.vtex-input-prefix__group){
  overflow: inherit;
  border: none;
}
.buttonContainer--newsletter-footer :global(.vtex-button){
  height: 45px;
  border-radius: 0 8px 8px 0 !important;
  background: #373836;
  cursor: pointer;
}
/* .imageElement--image-oferta{
  width: 50%;
} */

.imageElement--banner-home-calzado {
  position: absolute;
  bottom: -340px;
  right: 0px;
  width: 56%;
}

.imageElement--img-music-conten-tab:hover {
  opacity: 0.5;
  cursor: pointer;
}

.imageElement--img-music-conten-tab {
  border-radius: 15px;
}

.imageElement--img-destacados-music-experience {
  border-radius: 15px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--searchtitle-search)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto !important;
  display: none;
}

:global(.vtex-breadcrumb-1-x-container)
  :global(.vtex-breadcrumb-1-x-arrow):last-child
  :global(.vtex-breadcrumb-1-x-link) {
  font-family: 'Mier-B-Bold';
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRow--search-main-content-generic) {
  padding-left: 23px;
  padding-right: 23px;
  margin-top: 20px;
}

.imageElement--imagen-suscribete {
  margin: 0 auto;
  display: block;
}

.skuSelectorNameContainer {
  margin: 0;
}

@media screen and (max-width: 640px) { /* Mobil */
  .imageElement--slider-principal-derecha-imagen{
    display: none;
  }
  .infoCardTextContainer--home-card-01{
    width: 100%;
    margin-left: 0;
    margin-bottom: 0px;
  }
  .infoCardImageContainer--home-card-01{
    width: 100%;
  }
  .infoCardHeadline--home-card-01,
  .infoCardSubhead--home-card-01{
    text-align: center;
    width: auto;
    font-size: 17px;
    margin: 0 6px 15px;
  }
  .infoCardCallActionContainer--home-card-01{
    width: 100%;
    text-align: center;
    margin: 0 auto 30px;
  }
  .imageElement--destacado-home-icon{
    display: none;
  }
  .imageElement--img-zapatilla-infocard {
    position: absolute;
    top: -45%;
    left: 40%;
    width: 60%;
  }  
  .imageElement--banner-home-calzado {
    position: absolute;
    bottom: -90px;
    width: 70%;
  }
  .infoCardCallActionContainer--home-card-01 :global(.vtex-button){
    font-size: 11px;
    padding: 8px 40px;
    min-height: 32px;
  }
  .infoCardSubhead--home-card-01{
    font-size: 13px;
  }
  .infoCardTextContainer--info-card-prefooter-home {
    width: 100%;
  }  
  .logoImage {
    width: 106px;
  } 
  .imageElement--categoria-destacado-img-mobil {
    border-radius: 10px;
  } 
}

@media (max-width: 1025px) and (min-width: 641px) { /* Tablet */
  .imageElement--destacado-home-icon {
    display: none;
  }
  .infoCardHeadline--home-card-01 {
      font-size: 25px;
  }   
} 