/* .searchResultContainer{
  background-color: #f5f2eb;
} */
.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #000;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #000;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}

.notFound--layout{
  max-width: 96rem;
  padding: 0 15px;
  margin: 0 auto;
}

/*PLP*/

.container--layout{
  padding: 0 15px;
}

.buttonShowMore {
  margin: 50px 0 20px 0;
}

.buttonShowMore :global(.vtex-button__label) {
  padding: 12px 60px !important;
}

@media screen and (max-width: 1024px) {
  .container--layout{
    padding: 0 15px 20px;
  }

  @media screen and (max-width: 370px) {
    .container--layout :global(.vtex-add-to-cart-button-0-x-buttonText){
      font-size: 13px;
    }

    .container--layout :global(.vtex-search-result-3-x-galleryItem--grid) :global(.vtex-button__label){
      padding: 0;
    }
  }


  .filterPopupButton{
    height: unset;
  }

  .orderByDropdown {
    padding: 0;
  }
}

.totalProducts--layout{
  font-weight: 700;
  font-size: 18px;
}

.galleryTitle--layout{
  margin: 0;
  /* text-transform: uppercase; */
  font-size: 18px;
  text-align: center;
}

.filterItem :global(.vtex-checkbox__line-container){
  align-items: center;
}

.filterTitle {
  font-weight: 700;
}

.filterMessage{
  font-weight: 700;
  /* text-transform: uppercase; */
  margin: 5px 0;
  color: #fff;
}

.filter__container--category-4 {
  display: none;
}

.accordionFilterContainer--category-4 {
  display: none;
}

.orderByOptionsContainer .orderByOptionItem:first-child {
  font-size: 0;
}
.orderByOptionsContainer .orderByOptionItem:first-child::before {
    font-size: 16px;
    content: 'Los más vendidos';
}

@media screen and (min-width: 1024px) {
  .totalProducts--layout,.filterPopupTitle {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
  }

  .orderByDropdown {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .orderBy--layout{
    display: flex;
    justify-content: center;
  }
  
  .orderByButton {
    padding: 0;
    height: auto;
  }

  .galleryItem {
    padding: 15px;
  }

  .gallery--grid{
    padding-left: 0;
  }

}