.title{
  color: #000;
  /* font-size: 40px; */
  font-weight: bold;
  /* text-transform: capitalize; */
}

@media screen and (max-width: 1024px){
  .title{
    font-size: 32px;
    padding: 0;
    margin: 10px 0;
  }
}


/* start product related similars */
.title--similars-products{
  font-size: 18px;
  color: #000;
  font-weight: 400;
  /* text-transform: uppercase; */
  justify-content: left;
  padding-top: .8rem;
  padding-bottom: .8rem;
  letter-spacing: 0;
}
.sliderContainer--similars-products{
  margin-bottom: 22px;
}
.sliderContainer--similars-products .dot{
  display: none;
}
.sliderContainer--similars-products :global(.vtex-slider-0-x-sliderFrame){
  justify-content: left;
}
.sliderContainer--similars-products :global(.vtex-product-summary-2-x-containerNormal){
  border: 2px solid #ccc;
  border-radius: 0!important;
  margin: 0 7px;
}
.sliderContainer--similars-products :global(.vtex-product-summary-2-x-containerNormal):hover{
  border-color: #979899;
}
/* end product related similars */

@media screen and (max-width: 1024px) {
  .sliderContainer--similars-products .arrowLeft {
    left: -14px;
  }
  .sliderContainer--similars-products .arrowRight {
    right: -14px;
  }  
}  