:global(.vtex-flex-layout-0-x-flexColChild--form-contacto) .formSubmitContainer {
    text-align: center;
}

:global(.vtex-flex-layout-0-x-flexColChild--form-contacto) .formSubmitButton {
    margin-top: 1rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--form-contacto) .formSubmitButton :global(.vtex-button) {
    text-transform: capitalize;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 8px;
}
.formSubmitButton{
  display: flex;
  align-items: center;
  justify-content: center;
}
.formSubmitButton :global(.vtex-button__label) {
    font-size: 14px;
}  
.formSubmitButton :global(.vtex-button){
  width: 100%;
}
:global(.vtex-flex-layout-0-x-flexCol--form-container)
:global(.vtex-input__label),
:global(.vtex-flex-layout-0-x-flexCol--form-container)
:global(.vtex-textarea__label),
:global(.vtex-dropdown__label){
  display: none;
}
:global(.vtex-flex-layout-0-x-flexCol--form-container)
:global(.vtex-input-prefix__group),
:global(.vtex-flex-layout-0-x-flexCol--form-container)
:global(.vtex-textarea__input){
  margin-top: 12px;
  margin-bottom: 12px;
}
:global(.vtex-flex-layout-0-x-flexCol--form-container) :global(.vtex-checkbox__line-container){
  margin-top: 18px;
  text-align: center;
}
:global(.vtex-rich-text-0-x-paragraph--text-conformidad){
  font-size: 13px;
  color: #7a7a7b;
  margin: 0 0 10px;
  line-height: 16px;
}


@media screen and (max-width: 640px) { /* Mobil */
  :global(.vtex-flex-layout-0-x-flexRowContent--newsletter-data-1) :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    margin: 10px 0;
  }
}  