/*home*/
.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
  /* max-width: 96rem; */
  max-width: 1920px;
  margin: 0 auto 80px;
}

@media screen and (max-width: 1024px) {
  .sliderLayoutContainer--carousel{
    margin-bottom: 50px;
  }
}

.paginationDot--isActive{
  background: #000;
  border: 2px solid #fff;
}

.sliderTrackContainer {
  /* max-width: 1520px; */
  max-width: 1920px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.caretIcon--carousel{
  color: gray;
  height: 50px !important;
  width: 40px !important;
}

.slide--categorias-home-slider--visible{
  background: #f5f2eb;
}

.paginationDotsContainer--categorias-home-slider {
  display: none;
}

.caretIcon--nano-slider-cointainer {
    width: 15px;
}

.sliderTrack--nano-slider-cointainer {
  background: #f5f2eb;
}

.sliderLayoutContainer--nano-seccion-cointainer {
  background: #f5f2eb;
}

.sliderLayoutContainer--nano-seccion-cointainer {
  background: #F4762D;
}

.caretIcon--nano-seccion-cointainer, .caretIcon--nano-seccion-cointainer {
  width: 13px;
}


@media screen and (max-width: 640px) {
  .caretIcon--categorias-home-slider {
    background: #eee;
    padding: 5px;
    position: relative;
    border-radius: 20px;
  }
}  