.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
.footerLayout {
  background: #F5F2ED;
}
.footerLayout--footer-container-mobile{
  background: #F5F2ED;
  padding: .5rem;
}
