/*DEFAULT*/
.minicartContainer .cartIcon {
  height: 0;
  width: 0;
}

.minicartContainer :global(.vtex-button__label)::after {
  content: url("/arquivos/bag.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.minicartWrapperContainer :global(.vtex-button):hover{
  background: unset;
}

.overlay{
  background-color: #000;
}

/*END OF DEFAULT*/

.minicartQuantityBadgeDefault{
  top: -5px;
  left: 5px;
  background: transparent;
  color: #000;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .minicartWrapperContainer{
    margin-left: 10px;
    padding-right: 15px;
  }


  .openIconContainer{
    padding: 0;
  }

  .openIconContainer :global(.vtex-button__label){
    padding: 0;
  }

}

.minicartProductListContainer :global(.vtex-flex-layout-0-x-flexColChild){
  padding-bottom: 3px;

}
.minicartContentContainer :global(.vtex-flex-layout-0-x-flexRowContent){
  padding-top: 5px;
}


.minicartCheckoutButton :global(.vtex-button__label){
 font-size: 0;
}

.minicartCheckoutButton :global(.vtex-button__label)::after{
  content: "FINALIZAR PEDIDO";
  font-size: 18px;
  color: #fff;
  font-weight: bold;
 }
