/*HEADER*/
.styledLinkContent--menu-title {
  font-weight: 800;
  font-style: normal;
  color: #3f3f40;
  opacity: 0.4;
  font-size: 12px;
  letter-spacing: 1.08px;
  text-decoration: none;
  text-transform: uppercase;
}

.styledLinkContent--menu-item {
  font-size: 16px;
  color: #3f3f40;
  letter-spacing: 0px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  line-height: 40px;
  text-decoration: none;
}

.styledLinkContent--menu-item:hover {
  text-decoration: underline;
}

.menuContainer--main-menu-header{
  display: flex;
  align-items: center;
}

.styledLinkContainer--text-submenu {
  margin: 0 !important;
}

.styledLinkContent--link-nuevos-modelos, .styledLinkContent--link-girl, .styledLinkContent--text-bold {
  display: flex;
  align-items: center;
  font-size: 18px;
  position: relative;
}

.styledLinkContent--link-nuevos-modelos, .styledLinkContent--link-girl {
  display: flex;
  align-items: center;
  position: relative;
  letter-spacing: 0;
}

.styledLinkContent--text-bold{
  font-size: 16px;
  font-family: gira-sans,sans-serif;
  color: #3f3f40;
  letter-spacing: .7px;
  padding: 25px 20px;  
  letter-spacing: .5px;
}

.styledLinkContent--text-bold-rojo {
  font-size: 16px;
  font-family: gira-sans,sans-serif;
  color: #cc3633;
  letter-spacing: .7px;
  padding: 25px 20px;  
  letter-spacing: .5px;
  font-weight: bold;
}

.styledLinkContent--text-bold:hover {
  font-weight: 600;
  border-bottom: solid 2px;    
  letter-spacing: 0;
}

@media screen and (max-width: 1024px) {
  .styledLinkContent--link-nuevos-modelos, .styledLinkContent--link-girl, .styledLinkContent--text-bold, .styledLinkContent--text-bold-rojo {
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) {

  .styledLinkContent--link-nuevos-modelos, .styledLinkContent--link-girl, .styledLinkContent--text-bold, .styledLinkContent--text-bold-rojo {
    flex-direction: column;
  }

  .styledLinkContent--link-nuevos-modelos:hover{
    color: #da4726;
  }
}

.submenuWrapper{
  margin-top: 12px;
  z-index: 3;
  background-color: #f8f6f2;
}
.styledLinkContent--text-submenu{
  color: #8e8e8b !important;
  font-size: 16px;
}

.menuItem--text-submenu{
  padding: 10px 0;
}


@media only screen and (max-width: 640px) {
  .styledLinkContent--text-submenu-todo{
    margin: 0 0 0 15px;
  }  
}

.styledLinkContent--text-submenu:hover{
  color: #da4726 !important;
}

.styledLinkContainer--menu-title{
  padding: 0;
  margin: 0;
}

.styledLinkContainer--menu-item{
  display: inline-block;
  margin: 0;
}

.styledLinkContainer--menu-item:first-child{
  padding-top: 0;
}

/*footer*/

.menuContainerNav--menu-footer-container{
  width: 130px !important;
  margin-right: 30px;
}

.menuContainerNav--menu-footer-container-border{
  padding-bottom: 25px;
}

.menuContainerNav--container-submenu-drawer{
  width: 100%;
}

.menuItem--menu-title{
  margin-bottom: 15px;
}

.menuItem--menu-footer-title-mob {
  border-bottom: 1px solid #fff;
}

.menuItem--menu-footer-title-mob .submenuAccordion{
  padding: 0 !important;
}

.styledLinkContainer--menu-footer-title-mob {
  margin: 0;
  padding: 15px;
}

.styledLinkContent--menu-footer-title-mob{
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.styledLinkContainer--menu-footer-item-mob{
  color: #000;
  margin: 0 15px;
  padding: 0 0 10px;
}

.accordionIcon--menu-footer-title-mob{
  font-size: 0;
}

.accordionIcon--menu-footer-title-mob--isClosed::after{
  content: "";
  background-image: url(/arquivos/arrow-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.accordionIcon--menu-footer-title-mob--isOpen::after{
  content: "";
  background-image: url(/arquivos/arrow-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}


/*header mob*/
.menuContainerNav--container-submenu-drawer :global(.vtex-login-2-x-container){
  background: #efe6d1;
  position: absolute;
  bottom: 0;
  width: 100%;
  border: solid 1px #b7b3b3;
}


.menuContainerNav--container-submenu-drawer :global(.vtex-login-2-x-label),
.menuContainerNav--container-submenu-drawer :global(.vtex-login-2-x-profile){
  display: block;
  padding: 0;
  color: #000;
  left: 0;
  position: relative;  
}

.menuContainerNav--container-submenu-drawer :global(.vtex-login-2-x-label)::before{
    display: inline-block;
    content: "";
    background-image: url(/arquivos/Icon-Account-Off.png);
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    background-size: contain;
}

.menuContainerNav--container-submenu-drawer :global(.vtex-button):hover{
  background: transparent;
}

:global(.vtex-reviews-and-ratings-2-x-summaryButtonContainer){
  display: none;
}


@media screen and (max-width: 1024px){
  .menuItem--text-bold, .menuItem--text-bold-rojo {
    border-bottom: 1px solid #ddd;
  }
}

.styledLinkContainer--text-bold, .styledLinkContainer--text-bold-rojo{
  margin: 0;
  padding: 0;
}

/* .accordionIcon--text-bold{
} */

.accordionIcon--text-bold--isClosed::after{
  content: "";
  background-image: url(/arquivos/arrow-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.accordionIcon--text-bold--isOpen::after{
  content: "";
  background-image: url(/arquivos/arrow-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* PDP */

:global(.vtex-add-to-cart-button-0-x-buttonDataContainer--agregar-al-carro){
    padding: 18px;
    /* font-family: TradeGothicLTStd-BdCn20; */
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
}

:global(.vtex-numeric-stepper__plus-button){
  background-color: #000;
    color: #fff;
}

:global(.vtex-numeric-stepper__minus-button){
  background-color: #000;
  color: #fff;
}

.styledLinkContainer--text-bold-subtitle {
  margin: 0;
  width: 100%;
}

.styledLinkContent--link-footer-copy{
  font-family: gira-sans,sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #373836;
  font-size: 12px;
  letter-spacing: 0.12px;
  line-height: 16px;
  text-decoration: none;
}

.styledLinkContent--link-footer-copy:hover{
  text-decoration: underline;
}
