/*FAQ*/
.trigger--question {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  padding: 0 20px;
}

.trigger--question :global(.vtex-rich-text-0-x-paragraph) {
  border-bottom: solid 2px #c3c3c3;
  display: flex;
  align-items: center;
}

.trigger--question :global(.vtex-rich-text-0-x-paragraph)::after {
    content: "AA";
    background-image: url(/arquivos/arrow-removebg-preview.png);
    color: transparent;
    background-repeat: no-repeat;
    background-size: 22px;
    display: revert;
    vertical-align: sub;
    margin-left: 10px;
    position: relative;
    top: 2px;    
}

.trigger--question:focus,
.trigger--question:focus :global(.vtex-rich-text-0-x-paragraph) {
  color: #000000;
}

.trigger--question--visible :global(.vtex-rich-text-0-x-paragraph){
  font-weight: bold;
}

.trigger :global(.vtex-store-icons-0-x-caretIcon) {
  margin-right: 1rem;
}

.content--answer {
  transition: opacity 250ms ease-in-out, height 250ms ease-in-out, transform 250ms ease-in-out;
  opacity: 0;
  height: 0;
  transform: translate3d(0, -10%, 0);
}

.content--answer :global(.vtex-rich-text-0-x-container) {
  text-align: justify;
  background: #f9f9f9;
  padding: 0 20px;
  font-size: 14px;
}

.content--answer[data-enter] {
  opacity: 1;
  height: fit-content;
  transform: translate3d(0, 0, 0);
}

.content--answer[data-leave] {
  height: 0;
  overflow: hidden;
}
